body {
	background:#1b1a1a;
}

#logo a {
	color:#fff;
}

#logo a:hover {
	color:#fff;
}

#navbarsecond {
	margin:0 auto;
	width:1020px;
 	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

#main {
	padding-top: 20px;
}

.wrap {
	background:#fff;
	padding:0 20px;
}

#header .wrap {
	background:none;
}

@media screen and (max-width: 980px) {
	#navbarsecond {	width:94%;}
	.wrap { padding: 0 2%; }
 }

@media screen and (max-width: 768px) {
 	#navbarsecond {	width:94%; }
}

@media screen and (max-width: 640px) {
 	#navbarsecond {	width:98%; }
}